# **List**
Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# **List Items**
List items are ordered, changeable, and allow duplicate values.
List items are indexed, the first item has index [0], the second item has index [1] etc.
Allow Duplicates

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

## **List Length**
To determine how many items a list has, use the len() function:

In [ ]:
print(len(thislist))

5

## **List Items - Data Types**
List items can be of any data type:

In [ ]:
# String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
# A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

## **Access Elements**

In [ ]:
#Access the first element of list
print(list1[0])

In [ ]:
#Access the last element of list
print(list1[-1])

## **Slicing**
It is possible to access a section of items from the list using the slicing operator :, not just a single item

In [ ]:
print(list_of_integer[1:3])

## **Add new elements in the list**

In [ ]:
#Add new element in the list using append
list_of_integer.append(6)
print(list_of_integer)

## **Reversing a List**

In [ ]:
list_of_integer.reverse()
print(list_of_integer)

## **Removing Elements from the List**
Elements can be removed from the List by using the built-in remove() function but an Error arises if the element doesn't exist in the list. Remove() method only removes one element at a time, to remove a range of elements, the iterator is used. The remove() method removes the specified item.

In [ ]:
print("Initial List: ")
print(list_of_integer)
  
# Removing elements from List
# using Remove() method
list_of_integer.remove(5)
print("\nList after Removal of one element: ")
print(list_of_integer)