# **Python Sets**
Sets are used to store multiple items in a single variable.
A set is a collection which is unordered, unchangeable*, and unindexed.
**Note:** Set items are unchangeable, but you can remove items and add new items.

## **Unordered**
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key

# **Create a Set:**
Sets are written with curly brackets.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

## **Duplicates Not Allowed**
Sets cannot have two items with the same value.

In [ ]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

## **Get the Length of a Set**
To determine how many items a set has, use the len() function.

In [ ]:
# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## **Set Items - Data Types**
Set items can be of any data type:

In [ ]:
# String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
# A set can contain different data types:
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'abc', 'male'}

## **type()**
From Python's perspective, sets are defined as objects with the data type 'set':

In [ ]:
# What is the data type of a set?
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>